langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
langchain_openai
openai
chromadb
faiss-cpu
langchain_huggingface
chromadb
langchain_chroma
